/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}

.country {
  padding: 2%;
  width: auto;
  height: auto;
  margin: 0.8%;
  border: 1px solid white;
}
