/* Try different box model properties below */

div.site-header > p {
  color: rgb(255, 255, 255);
  line-height: none;
  margin-bottom: 0.1rem;
}

div.site-footer > p {
  font-size: 12px;
  text-align: center;
}

div.message--unread:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
div p {
  font-weight: bold;
}
